In [2]:
import pandas as pd
import os

# Exploratory Data Analysis
Explore the distribution of the labels of the test set.

In [3]:
data_path = os.path.join(os.getcwd(), 'data')

In [6]:
labels_train_path = os.path.join(data_path, 'train', 'labels.csv')
labels_train = pd.read_csv(labels_train_path)

In [11]:
labels_train.loc[labels_train['name'] == 'TRAIN0892.png']

              name skin_tone  gender    age
892  TRAIN0892.png    monk_2  female  18_30